<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>KhoaPham training</title>
    <script src="https://unpkg.com/react@15/dist/react.min.js"></script>
    <script src="https://unpkg.com/react-dom@15/dist/react-dom.min.js"></script>
    <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
  </head>
  <body>
    <h1>ES6 WITH REACTJS</h1>
    <div id="root"></div>
    <script type="text/babel" src="vidu2.js"/>
  </body>
</html>
